@import './iconfont.css';
@import './quill.core.css';

:root,
page {
  // 修改按主题色
  // --wot-color-theme: #37c2bc;

  // 修改按钮背景色
  --wot-button-primary-bg-color: #fd2b58;

  --wot-checkbox-checked-color: #fd2b58;
}

.zp-l-text-rpx {
  font-size: 14px !important;
}

.zp-r-right-text {
  font-size: 14px !important;
}

.wd-picker__popup {
  width: 100%;
}

.uni-tabbar {
  .uni-tabbar-border {
    background-color: #ffffff !important;
  }

  .uni-tabbar__item {
    &:nth-child(4) {
      position: relative;

      &::after {
        content: '';
        width: 80px;
        height: 80px;
        position: absolute;
        background-color: #ffffff;
        border-radius: 50%;
      }

      .uni-tabbar__icon {
        z-index: 999;
        width: 48px !important;
        height: 48px !important;
        margin-bottom: 20px;
      }
    }
  }
}
